<div class="row container roe text-white py-5">
        <div class="col-lg-4">
            <span class="d-block text-center activecolor"><i class="fas fa-2x fa-map-pin"></i></span>
            <span class="d-block text-uppercase text-center font-weight-bold">address</span>
            <p class="text-center font-weight-light">loremasdaosndaisdbas ifbsanifbaisufvbascaisbcf
            </p>
        </div>
        <!-- <div class="col-lg-1"> -->
        <span class="first_span"></span>
        <span class="second_span"></span>
        <span class="third_span"></span>
        <!-- </div> -->
        <div class="col-lg-4">
            <span class="d-block text-center activecolor"><i class="fa fa-phone" style="font-size: 36px;"></i></span>
            <span class="d-block text-uppercase text-center font-weight-bold">phone number</span>
            <p class="text-center font-weight-light">7838238498 <br>7404966682</p>
        </div>
        <!-- <div class="col-lg-1"> -->
        <span class="first_span"></span>
        <span class="second_span"> </span>
        <span class="third_span"></span>
        <!-- </div> -->

        <div class="col-lg-3">
            <span class="d-block text-center activecolor"><i class="far fa-2x fa-envelope"></i></span>
            <span class="d-block text-uppercase text-center font-weight-bold">email address</span>
            <p class="text-center font-weight-light">contacteduassets@gmail.com</p>
        </div>
</div>

<div id="footer" class="">

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <span class="mb-3 d-block text-uppercase footer_heading font-weight-bold text-white"><img src="images/eduassets3.png" class="logo">EduAssets!</span>
                    <p class="d-block footer_desc text-light font-weight-light text-capitalize">
                        loremasdaosndaisdbas loremasdaosndaisdbas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reiciendis optio,
                        nesciunt ratione atque, libero accusamus, cor poris autem obcaecati

                        <br>
                        <br> quasi dolore velit nisi consequatur quam minima doloribus quaerat? Voluptas, nisi.ipsum
                    </p>
                </div>
                <div class="col-lg-4">
                    <span class="text-white text-uppercase font-weight-normal text-center">useful links</span>
                    <span class="understand d-block mt-1 mb-3"></span>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-group pointer text-light d-inline">
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Home</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Courses</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Subject</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Subsribe</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group pointer text-light ">
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Home</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Courses</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Subject</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Subscribe</a></li>
                                <li><i class="fas fa-angle-right text-capitalize"></i><a href="#" class="footertext"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <span class="text-light text-uppercase my-5">get in touch !</span>
                    <span class="understand d-block mt-1 mb-5"></span>
                    <form action="/mail" method="post">
                    <div class="plalit">
                        <input id="email" class="px-2" type="text" name="email" required autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <label for="email" class="mailer">E-mail</label>
                        <button id="mailing" type="submit" class="button btn buttoncolor contact_us text-capitalize"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="d-block font-weight-normal text-center text-white">
            <a href="https://www.facebook.com/EduAssets-2262160270718626/?modal=admin_todo_tour" class="px-1" target="_blank"><i class="fa fa-facebook-f fbcolor"></i></a>
            <a href="#" class="px-1"><i class="fa fa-google-plus gpcolor"></i> </a>
            <a href="https://twitter.com/eduassets" class="px-1" target="_blank"><i class="fa fa-twitter twcolor"></i></a>
            <a href="https://www.linkedin.com/in/edu-assets-41b95917a/" class="px-1" target="_blank"><i class="fa fa-linkedin lincolor"></i></a>

            <div class="py-3">
                <span class="text-capitalize"> &copy;2019 <span class="activecolor pointer">EduAssets.</span> All rights reserved.</span>
            </div>
        </div>
    </div>