  <nav class="bg-dark toolbarcolor">
        <div class="container">
            <div class="row">
                <div class="col-md-8 yo d-block text-capitalize">welcome to eduassests</div>
                <div class="col-md-2">
                    <a href="https://www.facebook.com/EduAssets-2262160270718626/?modal=admin_todo_tour" class="px-1" target="_blank"><i class="fa fa-facebook-f fbcolor"></i></a>
                    <a href="https://plus.google.com/u/0/107922764560026083672" class="px-1" target="_blank"><i class="fa fa-google-plus gpcolor"></i> </a>
                    <a href="https://twitter.com/eduassets" class="px-1" target="_blank"><i class="fa fa-twitter twcolor"></i></a>
                    <a href="https://www.linkedin.com/in/edu-assets-41b95917a/" class="px-1" target="_blank"><i class="fa fa-linkedin lincolor"></i></a>
                </div>
                <div class="col-md-2">
                    <a class="text d-block text-capitalize" href=#>apply now</a>
                </div>
            </div>
        </div>
    </nav> 

     <div class="jumbotron jbcolor container">

        <div class="row">
            <div class="col-md-6">

                <h3 style="font-weight: bolder"><img src="images/eduassets3.png" class="logo"><span style="color: #65e8f2">E</span>du<span style="color: #65e8f2">A</span>ssests</h3>
            </div>

            <div class="col-md-2"><i class="fa fa-phone text-icon" style="font-size: 20px;" aria-hidden="true"></i>
                <span class="font-weight-bold text-capitalize">call us &nbsp;&nbsp;</span>
                <a href="#" class="mailhover d-block">98765-4321</a>
            </div>
            <div class="col-md-2"><i class="far fa-envelope text-icon"></i>
                <span class="font-weight-bold text-capitalize">
                    mail us</span>
                <a href="" class="mailhover">contacteduassets</a>
            </div>
            <div class="col-md-2 text-capitalize"><i class="far fa-map text-icon"></i>
                <span class="font-weight-bold">location</span>
                delhi,india
            </div>
        </div>
    </div>


        <div class="forposition">
            <div id="header" class="container toolbarcolor forposition1">
                <div id="navbar-example" class="row">
                    <div class="col-md-11">
                        <nav class="navbar navbar-expand-sm bg-dark navbar-dark toolbarcolor">
                            <div id="marginauto" class="row">
                                <ul class="nav anchor pb-2 navbar-nav">
                                    <li class="nav-item ">
                                        <a class="nav-link text-capitalize text" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/courses">Courses</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/#courses">Popular Courses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/aboutus">about us</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/#why_us">why us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="#footer">contact us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/login">Login </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/signup">Sign up </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>