<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/aboutus.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/eduassets3.png">
    <style>
    .roe{
        bottom: 18%!important;
    }

    </style>

    <title>EduAssets!</title>
</head>

<body id="fixed">
    <!--toolbar start-->
    <nav class="bg-dark toolbarcolor">
        <div class="container">
            <div class="row">
                <div class="col-md-8 yo d-block text-capitalize">welcome to EduAssests!</div>
                <div class="col-md-2">
                    <a href="https://www.facebook.com/EduAssets-2262160270718626/?modal=admin_todo_tour" class="px-1" target="_blank"><i class="fa fa-facebook-f fbcolor"></i></a>
                    <a href="https://plus.google.com/u/0/107922764560026083672" class="px-1" target="_blank"><i class="fa fa-google-plus gpcolor"></i> </a>
                    <a href="https://twitter.com/eduassets" class="px-1" target="_blank"><i class="fa fa-twitter twcolor"></i></a>
                    <a href="https://www.linkedin.com/in/edu-assets-41b95917a/" class="px-1" target="_blank"><i class="fa fa-linkedin lincolor"></i></a>
                </div>
                <div class="col-md-2">
                    <a class="text d-block text-capitalize" href=#>apply now</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="jumbotron forbg">
        <div class="row">
            <div class="col-md-4 text-center">
                <h1 class="text2">
                    EduAssests
                </h1>
            </div>
            <div class="col-md-8">
                <div>
                    <div class="row">
                        <div class="col-md-11">
                            <nav class="navbar navbar-expand-sm navbar-dark bg-transparent text-dark">
                                <div class="row">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active text">
                                            <a class="nav-link text-capitalize text" href="/">Home</a>
                                        </li>
                                        <li class="nav-item active text">
                                            <a class="nav-link text-capitalize text" href="/courses">Courses</a>
                                        </li>
                                        <li class="nav-item text activecolor active">
                                            <a class="nav-link text-capitalize text activecolor" href="/aboutus">about us</a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/login">Login </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-capitalize text" href="/signup">Sign up </a>
                                    </li>
                                        <li class="nav-item text active">
                                            <a class="nav-link text-capitalize text" href="#footer">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-capitalize text2 float">
            <br>
            <h4>ABOUT US</h4>
        </div>
    </div>

    <div id="why_us" class="container pt-5">

        <div id="wcu" class="">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/history.jpg" class="img-responsive imag" alt="">
                </div>
                <div class="col-md-6 pk">
                    <h4 class="font-weight-bold m-0">OUR VISON</h4>
                    <br>
                    <span class="course_border d-block"></span>
                    <p class="my-4 font-weight-normal text-secondary">
                        Our purpose is to develop a platform, a one stop solution for every student pursuing his/her studies in Commerce stream. In the modern world, where anything and everything seems to be a click away, we are about to bring all the relevant study material for UG courses in Commerce stream on one single platform.
                    </p>
                </div>

            </div>
        </div>

    </div>
    <div id="why_us" class="container pt-5 ">

        <div id="wcu" class="">
            <div class="row">

                <div class="col-md-6 pk">
                    <h4 class="font-weight-bold m-0">OUR MISSION</h4>
                    <br>
                    <span class="course_border d-block"></span>
                    <p class="my-4 font-weight-normal text-secondary">
                        Since plenty of study material is available online for science students, it would be a helping hand for the commerce students to prepare well for their examinations with the help of text and video content for their respective courses. Keeping this in mind, we are looking forward to develop a web and mobile application that would help these students to have easy access to study material and resources prepared and verified by experienced personnel of the respective curriculum. It would definitely prove to be a step forward in direction of making our Digital India truly digital for all sections of educational department. Prepared notes and video lectures will definitely help the students to utilise their time in other productive things. We have a vision of making our education system more efficient and digitize the way of learning.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="images/history.jpg" class="img-responsive imag" alt="">
                </div>

            </div>
        </div>

    </div>


    <%- include ./partials/footer %>





    <!--toolbar ends-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>

</html>
