<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/eduassets3.png"/>
    <title>EduAssets!</title>
</head>

<body>
    <!--toolbar start-->
    <%-include ./partials/messages%>
    <%-include ./partials/header %>    


    <!--navbar starts-->
    <section class="abc">
                    
                    
                     <!-- <div class="col-md-1 button buttoncolor">
                        <a href="#"> <i class="fas sea fa-search facolor"></i></a>
                    </div> -->
            <!--navbar ends-->
            <!--carousel starts-->
            <div class="forposition2">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                     <!-- <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>  -->

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="slidersize">
                                <p class="slidertext">Welcome to<br> EduAssests</p>
                                <h4 class="slidertext2"></h4>
                                <button class="button sliderbutton btn">Read More</button>
                                <button class="button sliderbutton1 buttoncolor btn">Get Started Now</button>
                                <img src="images/slide1.jpg" alt="Slide1" class="slidersize">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slidersize">
                                <p class="slidertext3">Are You Ready To Apply?</p>
                                <h4 class="slidertext2"></h4>
                                <button class="button sliderbutton btn">Read More</button>
                                <button class="button sliderbutton1 buttoncolor btn">Get Started Now</button>
                                <img src="images/slide2.jpg" alt="Slide2" class="slidersize">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="slidersize">
                                <p class="slidertext3">Are You Ready To Apply?</p>
                                <h4 class="slidertext2"></h4>
                                <button class="button sliderbutton btn">Read More</button>
                                <button class="button sliderbutton1 buttoncolor btn">Get Started Now</button>
                                <img src="images/slide3.jpg" alt="Slide3" class="slidersize">
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <!--carousel eds-->
            <!--search bar starts-->
           <div class="forposition3 container">
                <div class="container sized">
                    <div class="row">
                        <div class="col-md-3">
                            <select class="selectka">
                                <option value="All catagories">All catagories</option>
                                <option value="commerce">Commerce</option>
                                <option value="Arts">Arts</option>
                                <option value="Law">Law</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="selectka">
                                <option value="Select Degree">Select Degree</option>
                                <option value="Bcom">Bcom</option>
                                <option value="Bcom[H]">Bcom[H]</option>
                                <option value="BCA">BCA</option>
                                <option value="BBA">BBA</option>
                                <option value="BA">BA</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="Couse Keywords..." class="selectka">
                        </div>
                        <div class="col-md-3">
                            <button class="btn text-capitalize button buttoncolor font-weight-normal facolor formbutton">Search Courses</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </section>
    <!--search bar ends-->
    <div  data-spy="scroll" data-target="#navbar-example" data-offset="0">
    <div id="courses" class="container mt-5 pt-5">
        <div id="heading_course">
            <h4 class="font-weight-bold m-0">OUR MAIN COURSES!</h4>
            <br>
            <span class="course_border d-block"></span>
        </div>
        <div id="main_course">
            <a href="#">
                <span class="text-capitalize text-right d-block font-weight-bold">view all courses <i class="fas fa-angle-double-right"></i></span>
            </a>

   
            <div class="row pointer my-4">
                <div class="col-sm-4 ok">
                    <div class="pranit">
                        <div class="hobur">
                            <img src="images/cources 1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="course_text p-4">
                            <span class="d-block text-capitalize commmerce">ADA</span>
                            <span class="subject text-dark text-uppercase">B.tech[CSE]</span>
                            <p class="desc text-secondary"></p>
                            <button class="btn buttoncolor button text-capitalize">
                            <a href="pdf/o.pdf#toolbar=0" class="text-white" type="application/pdf" target="_blank" width="100%">View now</a>    
                            
                            </button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-1"></div>   -->
                <div class="col-sm-4 ok">
                    <div class="pranit hungry">
                        <div class="hobur">
                            <img src="images/cources 2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="course_text p-4">
                            <span class="d-block text-capitalize commmerce">commerce</span>
                            <span class="subject text-dark text-uppercase">b.com[H]</span>
                            <p class="desc text-secondary"></p>
                            <button class="button btn buttoncolor text-capitalize">apply now</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-1"></div> -->
                <div class="col-sm-4 ok">
                    <div class="pranit d-block float-right">
                        <div class="hobur">
                            <img src="images/cources 3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="course_text p-4">
                            <span class="d-block text-capitalize commmerce">commerce</span>
                            <span class="subject text-dark text-uppercase">b.com[H]</span>
                            <p class="desc text-secondary"></p>
                            <button class="button btn buttoncolor text-capitalize">apply now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pointer">
                <div class="col-sm-4 ok">
                    <div class="pranit  ">
                        <div class="hobur">
                            <img src="images/cources 4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="course_text p-4">
                            <span class="d-block text-capitalize commmerce">commerce</span>
                            <span class="subject text-dark text-uppercase">b.com[H]</span>
                            <p class="desc text-secondary"></p>
                            <button class="button btn buttoncolor text-capitalize">apply now</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-1"></div>   -->
                <div class="col-sm-4 ok">
                    <div class="pranit hungry">
                        <div class="hobur">
                            <img src="images/cources 5.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="course_text p-4">
                            <span class="d-block text-capitalize commmerce">commerce</span>
                            <span class="subject text-dark text-uppercase">b.com[H]</span>
                            <p class="desc text-secondary"></p>
                            <button class="button btn buttoncolor text-capitalize">apply now</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-1"></div> -->
                <div class="col-sm-4 ok">
                    <div class="pranit d-block float-right">
                        <div class="hobur">
                            <img src="images/cources 6.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="course_text p-4">
                            <span class="d-block text-capitalize commmerce">commerce</span>
                            <span class="subject text-dark text-uppercase">b.com[H]</span>
                            <p class="desc text-secondary"></p>
                            <button class="button btn buttoncolor text-capitalize">apply now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="subscribe" class="container-fluid my-5">
        <div class="inner_mid">
            <span class="text-uppercase mr-5 font-weight-bold text-light">stay connected with us</span>
            <input type="text" class="p-2 text-capitalize mx-4" placeholder="enter your email address">
            <button class="button btn text-uppercase buttoncolor">subscribe</button>
        </div>
    </div>
    
    
    <div id="why_us" class="container pt-5">
       
        <div id="wcu" class="">
            <div class="row">
                <div class="col-md-6 pk">
                    <h4 class="font-weight-bold m-0">WHY CHOOSE US ?</h4>
                    <br>
                    <span class="course_border d-block"></span>
                    <p class="my-4 font-weight-normal text-secondary">
                        Life is much more than the syllabus and examinations, it’s about exploring the real world situations and experiencing the unrevealed. While you are struggling hard to sustain your presence in this world, our team is working behind to serve you with the best available study material just right on your mobile screens.
                        We are there to help you utilize your most important asset i,e. your time by providing exactly what you need , to the point and exact study material to help you get everything on a single platform.
                    </p>
                    <p class="mb-5 font-weight-normal text-secondary">
                        We understand the pain of searching for relevant study material during last moments in exams and therefore eduassets will be your go-to-place to gain access to video lectures by experienced faculties, notes by class toppers, last year question papers and a lot more
                </div>
                <div class="col-md-6">
                    <img src="images/yes.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="second_last"> -->
    <!-- <div class=""> -->
    
    
    <!-- </div> -->
    <!-- </div> -->

    <%- include ./partials/footer%>

   </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>
